body{
    margin: 0;
    padding: 0;
    font-family: "Rubik";
    }

header{
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

h1{
    margin: 0;
}

.menu{
    background-color: transparent;
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu li{
    font-size: 20px;
    font-weight: 800;
    color:#323232;
   padding-left: 1rem;
}

.div2{
    display: flex;
    align-items: center;
}

.div2 .txt{
    padding: 3rem;
}

.div2 .txt p{
    margin-bottom: 2rem;
}

.div2 img{
    border-radius: 0 0 10px 0;
}

.div1{
    background-color: #323232;
    border-radius: 10px;
    padding: 1rem;
    color: #fbfbfb;
    margin: 20px 30px 20px 30px;
}

footer{
    display: flex;
    justify-content: center;
    font-weight: 700;
}